body,
html {
  font-family: "Open Sans", sans-serif;
  height: 2000px;
  letter-spacing: 0.1em;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
}

.contain {
  padding-left: 107px;
  font-weight: bold;
}

#navb .navbar-nav {
  margin-left: 80px;
}

#navb .nav-link {
  padding-left: 32px;
  color: #fff;
  font-family: Open Sans;
  letter-spacing: 0.1em;
  font-size: 12px;
}

#navb .nav-link:hover {
  background-color: chocolate;
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
}

#navb .navr {
  padding-right: 163px;
}

#navb .navr .btn-outline:hover {
  background-color: chocolate;
  color: #fff;
}

#navb .navr li a {
  color: #fff;
}

.navbar-nav li a {
  letter-spacing: 0.1em;
  font-size: 12px;
}

.mainJ {
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  height: 980px;
  text-align: center;
  margin-top: -120px;
}

.mainJ .fas {
  height: 300px;
  width: 300px;
}

.mainJ h1 {
  margin-top: 240px;
  margin-bottom: 30px;
  font-size: 72px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700px;
  color: #fff;
}

.mainJ h3 {
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400px;
  font-size: 24px;
}

.mainJ .btn-play-now {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  color: #1a1917;
  font-weight: bold;
  padding: 10px 60px;
}

.mainJ .btn-play-now:hover {
  color: #5d5d5d;
}

.mainJ .downn p {
  font-size: 12px;
  margin-top: 240px;
  color: #fff;
}

.theGames {
  background-image: url(../images/the-games-bg.jpg);
  background-size: cover;
  height: 980px;
  margin-top: -120px;
}

.theGames .mx-2 {
  margin-top: 100px;
}

.theGames .textt {
  margin-right: 30px;
}

.theGames h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400px;
}

.theGames h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-weight: 400px;
}

.theGames .img {
  margin-top: 190px;
  padding-right: 10px;
}

.theGames .img2 {
  margin-top: 190px;
}

.feature {
  background-image: url(../images/features.jpg);
  background-size: cover;
  height: 980px;
  margin-top: -120px;
}

.feature h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;
}

.feature .text {
  margin-left: 25px;
}

.feature h1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.feature .textLi {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
  margin-bottom: 20px;
}

.feature img {
  position: absolute;
  padding-top: 20px;
  padding-left: 23px;
}

.feature .mas .tex {
  font-weight: 400px;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 45px;
}

.feature .uli {
  position: absolute;
  color: #fff;
  margin-top: 220px;
  margin-left: 750px;
}

.sistem-req {
  background-image: url(../images/requirements.png);
  background-size: cover;
  height: 980px;
  margin-top: -120px;
}

.sistem-req .text-req {
  color: #fff;
  margin-top: 130px;
}

.sistem-req .text-center {
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}

.sistem-req h1 {
  font-family: Arial;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: -190px;
}

.sistem-req h3 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 2px;
  color: #ffb548;
}

.sistem-req p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.sistem-req table {
  color: white;
  margin-left: -188px;
  margin-top: -401px;
}

.sistem-req img {
  margin-left: -189px;
}

.sistem-req table td {
  width: 300px;
}

.scoreer {
  background-image: url(../images/top-score1.jpg);
  background-size: cover;
  height: 980px;
  margin-top: -120px;
}

.scoreer .btn-play-now {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  color: #1a1917;
  font-weight: bold;
  padding: 10px 60px;
  margin-top: 40px;
}

.scoreer .btn-play-now:hover {
  color: #5d5d5d;
}

.scoreer .text-scorer {
  color: #fff;
  margin-left: -215px;
  margin-top: 350px;
  line-height: -350px;
}

.scoreer .text-scorer h1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.scoreer .text-scorer p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
}

.scoreer .card {
  background-color: #414141;
  margin-left: 960px;
  margin-top: -450px;
  position: absolute;
  border-radius: 10px;
}

.scoreer .card .img1 {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.scoreer .card .img2 {
  margin-left: 450px;
  margin-top: -110px;
}

.scoreer .card .evan {
  margin-right: -200px;
  margin-top: -80px;
  margin-left: 80px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.scoreer .card .pc {
  margin-right: -200px;
  margin-top: -20px;
  margin-left: 80px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}

.scoreer .card-body {
  margin-left: -150px;
  margin-top: 70px;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.scoreer .text-muted {
  margin-top: -30px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
}

.scoreer .card2 {
  background-color: #414141;
  margin-left: 800px;
  margin-top: -210px;
  position: absolute;
  border-radius: 10px;
}

.scoreer .card2 .img1 {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.scoreer .card2 .img2 {
  margin-left: 450px;
  margin-top: -110px;
}

.scoreer .card2 .evan {
  margin-right: -200px;
  margin-top: -80px;
  margin-left: 80px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.scoreer .card .pc {
  margin-right: -200px;
  margin-top: -20px;
  margin-left: 80px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}

.scoreer .card-body {
  margin-left: -150px;
  margin-top: 70px;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.scoreer .text-muted {
  margin-top: -30px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
}

.scoreer .card3 {
  background-color: #414141;
  margin-left: 900px;
  margin-top: 30px;
  position: absolute;
  border-radius: 10px;
}

.scoreer .card3 .img1 {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.scoreer .card3 .img2 {
  margin-left: 450px;
  margin-top: -110px;
}

.scoreer .card3 .evan {
  margin-right: -200px;
  margin-top: -80px;
  margin-left: 80px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffb548;
}

.scoreer .card .pc {
  margin-right: -200px;
  margin-top: -20px;
  margin-left: 80px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}

.scoreer .card-body {
  margin-left: -150px;
  margin-top: 70px;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.scoreer .text-muted {
  margin-top: -30px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
}

.futer {
  background-image: url(../images/Rectangle.jpg);
  background-size: cover;
  height: 980px;
  margin-top: -120px;
}

.futer img {
  margin-left: -120px;
}

.futer .p1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: -600px;
  letter-spacing: 2px;
  margin-left: 400px;
  color: #ffffff;
}

.futer h1 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 92px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: -550px;
  margin-left: 400px;
  color: #ffffff;
}

.futer .p2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-left: 400px;
  margin-top: -370px;
  color: #ffffff;
}

.futer .er {
  margin-top: -200px;
  margin-left: 380px;
}

.futer .emails {
  width: 366px;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  color: white;
}

.futer .emails p {
  margin-left: 20px;
}

.futer .emails .p4 {
  margin-top: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.2;
  border-radius: 4px;
}

.futer .emails .p5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-top: -15px;
  color: #ffb548;
}

.futer .bton .btn-play {
  margin-left: 18px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  color: #1a1917;
  font-weight: bold;
  padding: 15px 60px;
  width: 260px;
  height: 60px;
}

.futer .bton .btn-play:hover {
  color: #5d5d5d;
}

.futer .ulli {
  margin-left: -150px;
}

.futer .ulli hr {
  background-color: #fff;
  width: 1350px;
  margin-right: 80px;
  margin-top: 40px;
  opacity: 0.3;
  border: 0.873968px solid #ffffff;
}

.futer .ulli ul {
  margin-left: 90px;
}

.futer .ulli ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 35px;
  margin-top: 50px;
}

.futer .ulli .quot {
  margin-right: 60px;
}

.futer .ulli ul img {
  margin-right: -310px;
  margin-top: 20px;
  margin-bottom: -20px;
  float: right;
  width: 240px;
}

.futer .ulli p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-left: 240px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.futer .ulli .text-right {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: -33px;
  margin-right: 70px;
}
/*# sourceMappingURL=main.css.map */